/* for banner */
.header-container h1{
  /* margin-top: 20px; */
  margin: -8px;
  background-color:burlywood;
  padding-top: 25px;
  padding-bottom: 53px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
video{
  height:300px;
  float: right;
  margin-right:30px;

}
body {
  background: radial-gradient(circle at top, #0b1220, #020617);
  color: #e5e7eb;
  line-height: 1.6;
}
.header-container h1 center{
  margin-top:30px;
}
h2{
  font-size:40px
}
h4{
  font-size: 20px;
}

.header-buttons {
  position: absolute;
  right: 30px;
  top: 5%;
  transform: translateY(-50%);
  display: flex;
  gap: 10px;
  background-color: transparent; /* space between Login and Toggle */
}
.header-button {
  padding: 8px 16px;
  cursor: pointer;
  /* border-radius: 6px; */
  font-weight: bold;
  border: none;
  background-color: #6a0dad;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}
mode-toggle {
  background-color: transparent;
  color: transparent;
}
body.dark-mode #mode-toggle {
  background-color: transparent;
  color: white;
}
.Login{
  position: absolute;
  place-items: center;
  left: 72%;
  top: 20%;
  /* font; */
  padding: 30px;
  padding-right: 20px;
  min-width: 320px;
  backdrop-filter: blur(50px);
  border-radius: 20px;
}
.Login input {
  margin-top: 30px;
  margin-left: 20px;

}
.Login h4{
  margin-top: -10px;
  
}
.Login .pass{
  margin-left: 0px;
}

.Login button{
  padding: 6px 20px;
  cursor: pointer;
  margin-top:40px;

}
.Login h3 {
  margin-top: 20px;
  font-size: 14px;
  position: relative;
  left: 20px;
  top: 10px
}
input {
  width: 250px;
  height: 20px;
}
input {
  padding: 8px 12px;
}
input {
  width: 280px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 15px;
}
/* For signup page */
.Login .p{
  margin-left: 50px;
  margin-top: 20px;
}
.Login .submit {
  cursor: pointer;
  padding: 10px;
  border-radius: 50px;
}

.Login .submit #header-button {
    width: 140px;
    height: 50px;
    border-radius: 50px;
    
}
